[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Whyteboard
Comment=A simple PDF and image annotator
MimeType=application/x-whyteboard
Icon=/usr/lib/whyteboard/whyteboard.png
Exec=whyteboard --file %f
Categories=Graphics;Viewer;