h1, h2, h3, p, ul, ol {
    margin: 1em 0;
    padding: 0;
}
li {
    margin-left: 4%;
}


body {
    margin: 15px;
    font-family: "Georgia", serif;
    font-size: 100%;
}

p, li {
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
}

img {
    border: 0;
}

#resources,
#translation-guide {
    list-style-type: none;
}

#browse-files {
    position: relative;
    bottom: 0.3em;
    margin-left: 4%;
}

#screenshots {
    position: relative;
}

#screenshots a {
    position: absolute;
}

#screenshots #a {
    top: 0;
    left: 0;
}

#screenshots #b {
    top: 0;
    left: 500px;
}

#screenshots #c {
    top: 410px;
    left: 0;
}

#screenshots #d {
    top: 408px;
    left: 500px;
}

#screenshots #e {
    top: 810px;
    left: 0;
}